@keyframes clouds-slow {
  50% {
    transform: translateX(-80%);
  }
}
@keyframes clouds-fast {
  50% {
    transform: translateX(-200%);
  }
}

.clouds {
  padding-top: 12px;

  path {
    transform-box: fill-box;
  }

  .fast {
    animation: clouds-fast 100s ease-out infinite;
  }

  .slow {
    animation: clouds-slow 100s ease-in infinite;
  }
}
