@import "~assets/styles/variables.scss";

#footer {
  background-color: #2b2b2b;
  color: white;
  padding-bottom: 7vw;
  padding-top: 7vw;

  @media (min-width: $breakpointMedium) {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  a {
    color: #AEC4D7;
    text-decoration: none;
  }

  .footer-inner {
    display: flex;
    align-items: flex-end;

    .emblem svg {
      width: 90px;

      g {
        fill: white;
      }
    }

    .address {
      line-height: 1.4;
      margin-left: 12px;
    }

    .menu {
      margin-left: auto;
      text-transform: uppercase;

      ul {
        margin: 0;
        line-height: 1.4;
        list-style-type: none;

        li {
          @media (min-width: $breakpointMedium) {
            display: inline;
            margin-right: 10px;
          }
        }
      }
    }

    .language {
      margin-left: 30px;
      align-self: flex-start;
    }
  }
}
