@import '~assets/styles/variables.scss';

.wallpaper {
  position: relative;
  overflow: hidden;
  text-align: center;

  .parallax {
    background-image: url('~assets/images/bg-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    position: relative;

    &::after {
      background-image: linear-gradient(to bottom, transparent, rgba(51, 19, 37, 0) 25%, rgba(51, 19, 37, 0.6));
      content: '';
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .more {
      bottom: 0;
      left: 50%;
      opacity: 0;
      padding: 20px;
      position: absolute;
      transition: opacity 200ms 500ms;
      transform: translateX(-50%);

      .icon {
        color: white;
        font-size: 50px;
      }

      #layout.scrollTopExtendend & {
        opacity: 0.5;
      }
    }
  }

  .parallax-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1;

    > * {
      opacity: 0;
      transform: translateY(-60%);
      transition: 200ms;

      &:nth-child(1) {
        transition-delay: 100ms;
      }

      &:nth-child(2) {
        transition-delay: 200ms;
      }

      &:nth-child(3) {
        transition-delay: 300ms;
      }
    }

    h1 {
      background-color: $colorPink;
      color: rgba(255, 255, 255, .8);
      font-size: 1.2em;
      letter-spacing: -0.02em;
      padding: 20px;
      @media(min-width: $breakpointSmall) {
        font-size: 2em;
      }
      @media(min-width: $breakpointMedium) {
        font-size: 3em;
      }
    }

    .tagline {
      font-size: 0.8em;
      color: rgba(255, 255, 255, .7);
      @media(min-width: $breakpointSmall) {
        font-size: 1.3em;
      }
      @media(min-width: $breakpointMedium) {
        font-size: 1.5em;
      }
    }

    #layout.scrollTop & {
      > * {
        opacity: 1;
        transform: translateY(0);

        &:nth-child(1) {
          transition-delay: 0s;
        }

        &:nth-child(2) {
          transition-delay: 0s;
        }

        &:nth-child(3) {
          transition-delay: 0s;
        }
      }
    }
  }

  .wallpaper-overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0);
    transition: 700ms;
    width: 100%;

    .clouds {
      flex-basis: auto;
      margin-top: 15vh;
      position: relative;
      z-index: 1;

      > svg {
        fill: rgb(255, 173, 186);
      }
    }

    &::after,
    &::before {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &::before {
      background-image: linear-gradient(to top, rgb(181, 86, 124), $colorBgHeader 60%);
    }

    &::after {
      background-image: url('~assets/images/skyline-santihans.svg');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 200%;
      @media(min-width: $breakpointSmall) {
        background-size: 100%;
      }
      @media(min-width: $breakpointMedium) {
        background-position: 100% 110%;
      }
      @media(min-width: $breakpointLarge) {
        background-size: contain;
      }
      @media(min-width: $breakpointExtraLarge) {
        background-position: 100% 130%;
      }
    }

    #layout.scrollTopExtendend & {
      transform: translateY(100%);
    }
  }
}
