.wallpaper {
  text-align: center;

  h1 {
    margin-bottom: .3em;
    text-transform: uppercase;
  }


  .more {
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .icon {
      font-size: 30px;
    }
  }

  .parallax__image {
    bottom: 40%;
  }
}
