@import '~assets/styles/variables.scss';

.wallpaper {
  color: white;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  .parallax {
    clip: rect(0, auto, auto, 0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .parallax-image {
    background-color: $colorNight;
    background-image: url('~assets/images/skyline-santihans.svg');
    background-position: bottom left;
    background-size: 240%;
    height: 100%;
    position: fixed;
    width: 100%;

    @media (min-width: $breakpointSmall) {
      background-size: contain;
    }

    @media (min-width: $breakpointExtraLarge) {
      background-size: $breakpointExtraLarge;
      background-position: bottom center;
    }
  }

  .parallax-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;

    .more {
      bottom: 20px;
      left: 50%;
      opacity: 0.6;
      position: absolute;
      transform: translateX(-50%);
      z-index: 1;
    }
  }

  .wallpaper-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    > * {
      opacity: 0;
      transform: translateY(-60%);
      transition: 200ms 100ms;
    }

    h1 {
      color: #fbfbfb;
      font-size: 2em;
      letter-spacing: -0.02em;
      line-height: 1.1;
      text-align: left;

      @media (min-width: $breakpointMini) {
        font-size: 2.5em;
      }
      @media (min-width: $breakpointSmall) {
        font-size: 2.8em;
      }
      @media (min-width: 800px) {
        font-size: 3.1em;
        width: 78%;
      }
      @media (min-width: $breakpointMedium) {
        font-size: 3.3em;
      }

      > span {
        display: inline-block;
        position: relative;

        &::after {
          background-color: $navigationColorLink;
          content: '';
          height: 20%;
          left: 0;
          width: 100%;
          position: absolute;
          transform: translateY(-25%);
          transform-origin: left bottom;
          transition: 200ms ease-out;
          bottom: 0;
          z-index: -1;
        }
      }
    }

    #layout.scrollTop & {
      > * {
        opacity: 1;
        transform: translateY(-50px);
        transition-delay: 0s;
      }
    }
  }

  .wallpaper-overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0);
    transition: 700ms;
    width: 100%;

    .clouds {
      flex-basis: auto;
      margin-top: 15vh;
      position: relative;
      z-index: 1;

      > svg {
        fill: rgb(255, 173, 186);
      }
    }

    &::after,
    &::before {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &::before {
      background-image: linear-gradient(
        to top,
        rgb(181, 86, 124),
        $colorPink 60%
      );
    }

    &::after {
      background-image: url('~assets/images/skyline-santihans.svg');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 200%;
      @media (min-width: $breakpointSmall) {
        background-size: 100%;
      }
      @media (min-width: $breakpointMedium) {
        background-position: 100% 110%;
      }
      @media (min-width: $breakpointLarge) {
        background-size: contain;
      }
      @media (min-width: $breakpointExtraLarge) {
        background-position: 100% 130%;
      }
    }

    #layout.scrollTopExtendend & {
      transform: translateY(100%);
    }
  }
}
