.wallpaper {
  text-align: center;

  h1 {
    margin-bottom: .3em;
    text-transform: uppercase;
  }

  .more {
    padding: 20px;

    .icon {
      font-size: 30px;
    }
  }

  .parallax__image {
    bottom: 40%;
  }
}
