@import "~assets/styles/variables.scss";

h3 {
  margin-bottom: 0.6em;
}

h4 + p {
  max-width: 75%;
}

.responsive-text {
  margin-bottom: 1em;
}

.teaser {
  margin: 6vh auto 0;
  @media(min-width: $breakpointSmall) {
    width: 70%;
  }
}

.expansion-custom {
  &:not(.level-2) {
    background-color: $colorBg;
    padding-top: 3px;
  }

  .icon {
    margin-right: 12px;
  }

  &.expansion-panel > li {
    border: 0;
  }

  .inner {
    background-color: $colorBgSubtle;
    padding-left: 50px;
    position: relative;

    &::after {
      border: 6px solid transparent;
      border-bottom-color: $colorBgSubtle;
      bottom: 100%;
      content: '';
      left: 20px;
      position: absolute;
    }
  }
}

.services {
  background-color: $colorTurquoise;
  padding: 20px 12px 12px;

  .responsive-text,
  .services-footer,
  h3 {
    color: $colorBg;
  }

  h3 {
    margin-bottom: 12px;
  }

  .services-footer {
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    text-align: center;
    width: 70%;
  }

  .expansion-custom {
    .inner {
      padding: 0 20px;
    }

    &.level-2 {
      box-shadow: none;

      .inner {
        background-color: mix($colorBg, $colorBgSubtle);
        padding: 12px 15px 12px 40px;

        &::after {
          border-bottom-color: mix($colorBg, $colorBgSubtle);
          left: 16px;
        }
      }

      .icon {
        bottom: 2px;
        color: #c1c1c1;
        font-size: 14px;
        position: relative;
      }
    }
  }
}

.references {
  a {
    display: block;
  }
}

.offer {
  background: $colorTurquoise;
  padding: 20px 12px;

  .offer-footer,
  .offer-head,
  h3 {
    color: white;
    margin-bottom: 2vh;
    text-align: center;
  }

  .offer-head {
    position: relative;

    .price {
      background-color: $colorPink;
      padding: 10px;
      position: absolute;
      right: 12px;
      top: 100%;
      z-index: 1;
    }
  }

  .stepper--vertical .stepper__content {
    padding: 12px;
  }

  .stepper-content {
    border-bottom: 1px solid #dedede;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 12px;
  }

  .stepper-action {
    display: flex;
    justify-content: flex-end;
  }
}
