// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start

$color-pack = false

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition
