$maxPageSize: 900px;
$breakpointMini: 400px;
$breakpointSmall: 600px;
$breakpointMedium: 995px;
$breakpointLarge: 1200px;
$breakpointExtraLarge: 1400px;
$colorSubtle: #5d5d5d;

$headerHeight: 54px;

$colorBg: white;
$colorBgSubtle: #fafafa;
$colorFg: #333333;
$colorError: rgb(177, 40, 40);

// Santihans Colors
$colorPink: #f96673;
$colorViolett: #8f5fa3;
$colorYellow: #feb21e;
$colorTurquoise: #48a69c;
$colorNight: #212121;

$colorNightGreen: #4d6059;
$colorNightBlue: #2c7282;

$navigationColorLink: fade-out($colorPink, 0.1);
$navigationColorBg: $colorNight;
$navigationColorFg: white;

$fontFamilyDefault: 'Roboto', 'Helvetica', sans-serif;
$fontFamilyHeading: 'Raleway', 'Roboto', 'Helvetica', sans-serif;
