$maxPageSize: 900px;
$breakpointMini: 400px;
$breakpointSmall: 600px;
$breakpointMedium: 995px;
$breakpointLarge: 1200px;
$breakpointExtraLarge: 1400px;
$colorSubtle: #5d5d5d;

$headerHeight: 60px;
$colorBgHeader: #F96673;
$colorViolett: #8f5fa3;
