$maxPageSize: 900px;
$breakpointMini: 400px;
$breakpointSmall: 600px;
$breakpointMedium: 995px;
$breakpointLarge: 1200px;
$breakpointExtraLarge: 1400px;
$colorSubtle: #5d5d5d;

$headerHeight: 54px;

$colorBg: white;
$colorBgSubtle: #eaeaea;
$colorFg: #333333;

// Santihans Colors
$colorPink: #F96673;
$colorViolett: #8f5fa3;
$colorYellow: #feb21e;
$colorTurquoise: #48a69c;
$colorNight: #2b393f;

$colorNightGreen: #4d6059;
$colorNightBlue: #2c7282;
