@import '~assets/styles/variables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #333;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 200ms;

  html.wf-active &,
  html.wf-inactive & {
    opacity: 1;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  text-align: center;
  font-family: 'Raleway', 'Roboto', 'Helvetica', sans-serif;
}

h3 {
  text-align: center;
}

#layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page {
  flex-grow: 1;
}

#navigation {
  display: flex;
  flex-direction: column;
  padding: 5px;

  .emblem {
    display: flex;
    height: 90px;
    justify-content: center;

    svg {
      width: 50px;
      fill: $colorPink;
    }
  }

  .list {
    flex-grow: 1;
  }

  .divider {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .language {
    display: flex;
    justify-content: center;
    padding: 5px 16px;

    > * {
      padding: 5px;
    }
  }

  .btn-close {
    flex-shrink: 0;
  }
}

section {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.boundaries {
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  width: $maxPageSize;
  @media(min-width: $breakpointMedium) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.abstract,
.responsive-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media(min-width: $breakpointMini) {
    width: 90%;
  }
  @media(min-width: $breakpointSmall) {
    width: 80%;
  }
  @media(min-width: $breakpointMedium) {
    width: 70%;
  }
}

.abstract {
  font-size: 1.2em;
}

.page-header {
  background-color: black;
  background-image: url('~assets/images/skyline-santihans.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  border-bottom: 4px solid $colorPink;
  height: 50vh;
  min-height: 280px;
  max-height: 400px;
  position: relative;
  @media(min-width: $breakpointMedium) {
    background-position: 50% 70%;
  }
  @media(min-width: $breakpointExtraLarge) {
    background-position: bottom center;
    background-size: 1100px;
  }

  h1 {
    color: white;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-shadow: 3px 4px $colorPink;
    top: 40%;
    transform: translate(-50%, -100%) scale(.5);
    transition: 200ms;

    #layout.scrollTop & {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
