@import '~assets/styles/variables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #fafafa;
  color: #333;
  font-family: $fontFamilyDefault;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;

  &.noScroll {
    overflow: auto;
    height: 100%;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-family: $fontFamilyHeading;
  line-height: 1.2;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.02em;
  opacity: 0.9;

  @media (min-width: $breakpointMini) {
    font-size: 1.7em;
  }

  @media (min-width: $breakpointSmall) {
    font-size: 1.9em;
  }
}

h3 {
  font-weight: bold;
  font-size: 1.1em;
  opacity: 0.8;

  @media (min-width: $breakpointMini) {
    font-size: 1.25em;
  }

  @media (min-width: $breakpointSmall) {
    font-size: 1.4em;
  }
}

h4 {
  font-size: 1.3em;
}

#layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page {
  flex-grow: 1;
  min-height: 70vh;
  position: relative;
}

article {
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: $breakpointSmall) {
    font-size: 1.1em;
  }

  p {
    text-align: justify;
    hyphens: auto;

    &:first-of-type {
      font-weight: 500;
    }
  }

  ul {
    margin-bottom: 1em;
  }

  h2 {
    font-family: $fontFamilyDefault;
  }

  h2 {
    margin-top: 1.6em;
    margin-bottom: 0.5em;
    font-weight: 500;
  }

  h3 {
    margin-top: 1.5em;
    margin-bottom: 0.3em;
  }
}

section {
  padding-top: 4em;
  padding-bottom: 3em;

  @media (min-width: $breakpointSmall) {
    padding-top: 6em;
    padding-bottom: 4em;
  }

  &.section--shadow {
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 90px 90px -60px rgba(0, 0, 0, 0.03);
    margin-bottom: 2em;
  }

  > h2 {
    margin-bottom: 16px;
    text-align: center;

    @media (min-width: $breakpointMini) {
      font-size: 2.4em;
    }

    @media (min-width: $breakpointSmall) {
      font-size: 3.4em;
    }

    + .abstract {
      font-size: 1.2em;

      @media (min-width: $breakpointSmall) {
        font-size: 1.3em;
      }

      @media (min-width: $breakpointMedium) {
        font-size: 1.4em;
      }
    }
  }
}

.flex {
  padding: 0 5px 10px;
}

.boundaries {
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  width: $maxPageSize;

  &.boundaries--l {
    padding-left: 0;
    padding-right: 0;
    width: $breakpointLarge;
  }

  &.boundaries--xl {
    padding-left: 0;
    padding-right: 0;
    width: $breakpointExtraLarge;
  }

  @media (min-width: $breakpointMedium) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.abstract {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media (min-width: $breakpointMini) {
    width: 90%;
  }
  @media (min-width: $breakpointSmall) {
    width: 80%;
  }
  @media (min-width: $breakpointMedium) {
    width: 75%;
  }
}

.dialog-custom {
  &.dialog {
    background-color: $colorBg;
    padding: 20px 4vw;
    @media (min-width: $breakpointMedium) {
      padding-left: 40px;
      padding-right: 40px;
    }

    .dialog-footer {
      display: flex;
      justify-content: center;
      margin-top: 1em;
    }
  }
}

.s-btn-icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 60px;
  justify-content: center;
  flex-shrink: 0;
  text-decoration: none;
  width: 60px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.s-btn {
  align-items: center;
  background-color: $colorNight;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: white;
  display: inline-flex;
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
  height: 40px;
  margin: 6px 8px;
  padding: 2px 26px;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateY(0);
  transition: 200ms;

  &.s-btn-pink {
    background-color: $colorPink;
  }

  &.s-btn-violett {
    background-color: $colorViolett;
  }

  &.s-btn-turquoise {
    background-color: $colorTurquoise;
  }

  &.s-btn-transparent {
    background-color: transparent;
    color: $colorFg;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);

    &:hover {
      box-shadow: 0 2px 2px rgba(50, 50, 93, 0.2);
    }
  }

  &:hover {
    box-shadow: 0 2px 2px rgba(50, 50, 93, 0.2),
      0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
  }
}

.markdown {
  h4 {
    margin-top: 1.5em;
  }

  ul {
    padding-left: 40px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.ellipsis  {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Page transitions
.page-enter-active {
  transition: 0.2s ease-out;
  transform: translateY(0);
}

.page-enter {
  transform: translateY(10px);
}
