@import '~assets/styles/variables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #fafafa;
  color: #333;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 200ms;

  html.wf-active &,
  html.wf-inactive & {
    opacity: 1;
  }

  &.noScroll {
    overflow: auto;
    height: 100%;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  text-align: center;
}

h1,
h2 {
  font-family: 'Raleway', 'Roboto', 'Helvetica', sans-serif;
}

h1 {
  font-size: 4em;

  @media (min-width: $breakpointSmall) {
    font-size: 6em;
  }
}

h2 {
  font-size: 1.9em;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 16px;

  @media (min-width: $breakpointMini) {
    font-size: 2.4em;
  }

  @media (min-width: $breakpointSmall) {
    font-size: 3.4em;
  }

  + .abstract {
    font-size: 1.2em;

    @media (min-width: $breakpointSmall) {
      font-size: 1.3em;
    }

    @media (min-width: $breakpointMedium) {
      font-size: 1.4em;
    }
  }
}

h3 {
  font-weight: bold;
  font-size: 1.5em;

  @media (min-width: $breakpointMini) {
    font-size: 2em;
  }

  @media (min-width: $breakpointSmall) {
    font-size: 2.4em;
  }

  + .abstract {
    font-size: 1.1em;
    margin-bottom: 2em;
  }
}

h4 {
  font-size: 1.3em;
}

#layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page {
  flex-grow: 1;
}

section {
  padding-top: 4em;
  padding-bottom: 3em;
  @media (min-width: $breakpointSmall) {
    padding-top: 6em;
    padding-bottom: 4em;
  }

  &.section--shadow {
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 90px 90px -60px rgba(0, 0, 0, 0.03);
    margin-bottom: 2em;
  }
}

.flex {
  padding: 0 5px 10px;
}

.section--dark {
  background-color: $colorTurquoise;
  margin-top: 2em;
  padding: 30px 12px 12px;

  h3,
  h4,
  p {
    color: $colorBg;
  }

  h3 {
    margin-bottom: 12px;
  }

  h4 {
    margin-top: 0;
  }
}

.boundaries {
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  width: $maxPageSize;

  &.boundaries--l {
    padding-left: 0;
    padding-right: 0;
    width: $breakpointLarge;
  }

  &.boundaries--xl {
    padding-left: 0;
    padding-right: 0;
    width: $breakpointExtraLarge;
  }

  @media (min-width: $breakpointMedium) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.abstract {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media (min-width: $breakpointMini) {
    width: 90%;
  }
  @media (min-width: $breakpointSmall) {
    width: 80%;
  }
  @media (min-width: $breakpointMedium) {
    width: 75%;
  }
}

.page-header {
  background-color: black;
  background-image: url('~assets/images/skyline-santihans.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  border-bottom: 4px solid $colorPink;
  height: 220px;
  position: relative;
  @media (min-width: $breakpointMini) {
    height: 260px;
  }
  @media (min-width: 500px) {
    height: 280px;
  }
  @media (min-width: $breakpointSmall) {
    height: 360px;
  }
  @media (min-width: $breakpointMedium) {
    height: 400px;
  }

  h1 {
    color: rgba(0, 0, 0, 0.12);
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -100%) scale(0.5);
    transition: 200ms;

    #layout.scrollTop & {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .clouds {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .illustration {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 720px;
    max-width: 100%;
  }
}

.dialog-custom {
  &.dialog {
    background-color: $colorBg;
    padding: 20px 4vw;
    @media (min-width: $breakpointMedium) {
      padding-left: 40px;
      padding-right: 40px;
    }

    .dialog-footer {
      display: flex;
      justify-content: center;
      margin-top: 1em;
    }
  }
}

.s-btn-icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 60px;
  justify-content: center;
  flex-shrink: 0;
  text-decoration: none;
  width: 60px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.s-btn {
  align-items: center;
  background-color: $colorNight;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: white;
  display: inline-flex;
  font-size: 1em;
  font-weight: bold;
  justify-content: center;
  height: 40px;
  margin: 6px 8px;
  padding: 2px 26px;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateY(0);
  transition: 200ms;

  &.s-btn-pink {
    background-color: $colorPink;
  }

  &.s-btn-violett {
    background-color: $colorViolett;
  }

  &.s-btn-turquoise {
    background-color: $colorTurquoise;
  }

  &.s-btn-transparent {
    background-color: transparent;
    color: $colorFg;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);

    &:hover {
      box-shadow: 0 2px 2px rgba(50, 50, 93, 0.2);
    }
  }

  &:hover {
    box-shadow: 0 2px 2px rgba(50, 50, 93, 0.2),
      0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
  }
}

.markdown {
  ul {
    padding-left: 40px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
