@import '~assets/styles/variables.scss';
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

#agency {
  .page-header {
    background-color: $colorNightBlue;

    .clouds svg g {
      fill: lighten($colorNightBlue, 8);
    }

    .illustration {
      .ship {
        animation: float 10s ease-in-out infinite;
        left: 24%;
        position: absolute;
        top: 71%;
        width: 27%;
      }
    }
  }

  .page-content {
    .grid {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      margin-top: 3em;
      text-align: center;

      @media (min-width: $breakpointSmall) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
      }
    }

    .team {
      .members {
        .member-image {
          padding: 3vw;
          @media (min-width: $breakpointSmall) {
            padding: 15px;
          }

          img {
            background: white;
            border-radius: 50%;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
            padding: 3px;
            width: 100%;
          }
        }

        .member-name {
          font-size: 1.1em;
          font-weight: bold;
        }

        .member-mission {
          font-size: 0.9em;
        }
      }
    }

    .partner {
      .partner-logo {
        display: flex;
        height: 100px;
        justify-content: center;

        > * {
          max-height: 100%;
        }
      }

      .partner-description {
        padding: 0.5em;
      }

      a {
        color: inherit;
        display: block;
        text-decoration: none;
      }
    }
  }
}
