@import '~assets/styles/variables.scss';

#about {
  .page-header {
    background-color: $colorNightBlue;

    .clouds svg g {
      fill: lighten($colorNightBlue, 8);
    }

    .illustration {
      .ship {
        left: 24%;
        position: absolute;
        top: 71%;
        width: 27%;
      }
    }
  }

  .page-content {}
}
