@import '~assets/styles/variables.scss';

#agency {
  .page-header {
    background-color: $colorNightBlue;

    .clouds svg g {
      fill: lighten($colorNightBlue, 8);
    }

    .illustration {
      .ship {
        left: 24%;
        position: absolute;
        top: 71%;
        width: 27%;
      }
    }
  }

  .page-content {
    .team {
      .members {
        text-align: center;

        .flex {
          margin-bottom: 1em;
        }

        .member-thumb {
          padding: 3vw;
          @media(min-width: $breakpointSmall) {
            padding: 15px;
          }

          img {
            background: white;
            border-radius: 50%;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
            padding: 3px;
          }
        }

        .member-name {
          font-size: 1.1em;
          font-weight: bold;
        }

        .member-position {
          font-size: 0.9em;
        }

        .member-contacts {}
      }
    }
  }
}
