@import '~assets/styles/variables.scss';

.page-header {
  position: relative;
  height: 400px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  background-color: rgb(77, 96, 89);

  &::after,
  &::before {
    content: '';
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    top: 0;
  }

  &::after {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    bottom: 0;
  }

  iframe {
    pointer-events: none;
    position: absolute;
    top: 0;
  }
}

.page-content {
  align-items: center;
  display: flex;
  flex-direction: column;

  .company {
    margin-top: 5vh;
    margin-bottom: 5vh;

    .company-emblem {
      display: none;
    }
  }

  .contact-form {
    width: 600px;
    max-width: 100%;

    .card {
      padding: 20px;
    }
  }
}
