@import '~assets/styles/variables.scss';

#disclaimer {
  .page-header {
    background-color: $colorNight;
  }

  .page-content {
    .contact {
      i {
        display: none;
      }
    }

    .registry {
      margin-top: 1em;
    }
  }
}
