@import '~assets/styles/variables.scss';

#services {
  padding-bottom: 8vh;

  .page-header {
    background-color: $colorTurquoise;
    border-bottom: 0;

    img {
      bottom: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 720px;
    }
  }

  .tabs__slider {
    background-color: rgba(255, 255, 255, 0.3);
    height: 5px;
  }

  .tabs__items {
    border: 0;
  }
}
