@import '~assets/styles/variables.scss';

#services {
  padding-bottom: 8vh;

  .page-header {
    background-color: $colorTurquoise;
    border-bottom: 0;
  }

  .tabs__bar {
    background-color: $colorViolett;
  }

  .tabs__slider {
    background-color: rgba(255, 255, 255, 0.3);
    height: 5px;
  }

  .tabs__items {
    border: 0;
  }

  .tabs__item--active {
    font-weight: bold;
  }
}
