@import '~assets/styles/variables.scss';

#terms {
  .page-header {
    background-color: $colorPink;
  }

  .page-content {
    .contact {
      i {
        display: none;
      }
    }

    .registry {
      margin-top: 1em;
    }

    h4 {
      margin-top: 2em;
    }

    .terms-dialog {
      text-align: center;
      width: 100%;
    }
  }
}

.dialog-custom.terms {
  padding: 20px 2vw;

  iframe {
    border: 0;
    height: 60vh;
    width: 100%;
  }
}
