@import '~assets/styles/variables.scss';

#work {
  .page-header {
    background-color: $colorViolett;

    .clouds svg g {
      fill: lighten($colorViolett, 8);
    }
  }

  .page-content {
    .portfolio {
      padding-top: 2em;

      .portfolio-dialog {
        max-width: 100%;
      }

      .portfolio-link {
        display: block;
        margin-bottom: 8px;
        text-decoration: none;
      }

      .project {
        padding: 10px;

        .name {
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .tags {
          font-size: 0.8em;
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          li {
            color: $colorSubtle;
            display: inline;
            margin-right: 5px;

            &::before {
              content: '#';
            }
          }
        }
      }
    }
  }
}

.dialog-custom.dialog-custom--portfolio {
  .dialog {
    padding: 0;

    .dialog-content,
    .dialog-header {
      padding-top: 50px;
      padding-bottom: 30px;
    }

    .dialog-header {
      position: relative;

      .abstract {
        margin-bottom: 1em;
      }

      .btn-close {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .dialog-content {
      padding-top: 20px;

      h4 {
        margin-top: 1em;
      }

      .image {
        margin-bottom: 2em;
      }

      .image-caption {
        background-color: #f3f3f3;
        color: mix($colorBg, $colorFg, 10);
        font-size: 0.9em;
        padding: 5px 10px;
        text-align: center;
      }
    }
  }
}
